@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

:root {

  --grid-division-big: 12;
  --grid-division-small: 8.5;

  --border-width-big: 5px;
  --border-width-small: 10px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /*line-height: 1.5;*/
  /*font-weight: 400;*/

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /*min-width: 320px;*/
  /*min-height: 100vh;*/
  color: #c2af30;
}

h1 {
  font-size: 4vw;
  line-height: 1;
}

#app {
  width: 100vw;
  /*max-width: 1280px;*/
  /*margin: 0 auto;*/
  padding: 2rem;
  text-align: center;
  display: grid;
  justify-content: center;
  background-color: #888888;
}

#wrapper {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  width: 80vw;
  /*background-color: #646cff;*/
  background-color: rgb(144, 78, 162);
  padding: 20px 20px 40px;
  margin-right: auto;
  margin-left: auto;
}

#monthHeading {
  display: grid;
  justify-content: left;
  height: 8vw;
}

#month {
  font-family: "Wittgenstein", Garamond, serif;
}

#weekdayHeading {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(7,calc(100vw/var(--grid-division-big)));
}

.weekday:first-child {
  border-left: solid;
}

.weekday {
  border-width: var(--border-width-big);
  border-top: solid;
  border-right: solid;
  border-bottom: solid;
  font-family: "Bona Nova SC", Georgia, serif;
  font-size: 1vw;
  font-weight: bold;
}

#dateGrid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(7,calc(100vw/var(--grid-division-big)));
  grid-template-rows: repeat(5,calc(100vw/var(--grid-division-big)));
  /*height: 80vh;*/
}

.dateBlock:nth-child(7n+1),.dateBlock:first-child{
  /*border-width: var(--border-width-big);*/
  border-left: solid;
}

.dateBlock {
  display: grid;
  justify-content: left;
  align-content: start;
  padding: 5px;
  border-width: var(--border-width-big);
  border-right: solid;
  border-bottom: solid;
  font-family: "Poppins", Tahoma, sans-serif;
  font-size: 1.5vw;
  font-weight: bold;
}


@media only screen and (max-width: 800px) {

  html {
    background-color: #888888;
  }



  #app {
    width: 95vw;
    /*max-width: 1280px;*/
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    justify-content: center;
    background-color: #888888;
    height: 120vh;
  }



  #wrapper {
    display: grid;
    justify-content: center;
    width: 90vw;
    /*background-color: #646cff;*/
    background-color: rgb(144, 78, 162);
    padding: 10px 10px 20px;
    margin-right: auto;
    margin-left: auto;
  }

  #monthHeading {
    display: grid;
    justify-content: left;
    height: auto;
  }

  h1 {
    font-size: 4vw;
  }

  #weekdayHeading {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(7,calc(100vw/var(--grid-division-small)));
    height: min-content;
  }

  .weekday:first-child {
    border-left: solid;
  }

  .weekday {
    border-width: var(--border-width-small);
    border-top: solid;
    border-right: solid;
    border-bottom: solid;
    font-family: "Bona Nova SC", Georgia, serif;
    font-size: 1.8vw;
    font-weight: bold;
    /*padding: 5px;*/
  }

  #dateGrid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(7,calc(100vw/var(--grid-division-small)));
    grid-template-rows: repeat(5,calc(100vw/var(--grid-division-small)));
    /*height: 80vh;*/
  }

  .dateBlock {
    display: grid;
    justify-content: left;
    align-content: start;
    padding: 5px;
    border-width: var(--border-width-small);
    border-right: solid;
    border-bottom: solid;
    font-family: "Poppins", Tahoma, sans-serif;
    font-size: 2.25vw;
    font-weight: bold;
  }



}












@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
